/* Fundal albastru deschis */
.root {
    -fx-background-color: #add8e6; /* Albastru deschis */
}
/* Adăugăm stiluri pentru textul de sus */
.header-text {
    -fx-font-family: "Brush Script MT", cursive;  /* Font de mână */
    -fx-font-size: 36px;  /* Dimensiune font */
    -fx-text-fill: white;  /* Culoare text alb */
    -fx-font-weight: bold;  /* Font bold */
    -fx-padding: 10px;
}

/* Stiluri pentru root (fundal cu gradient) */
.root {
    -fx-background-color: linear-gradient(to right, #4a90e2, #003366);
}

/* Stil pentru titlul principal */
.label-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff; /* Alb */
}
/* style.css */
.root {
    -fx-background-color: linear-gradient(to right,#add8e6, #003366);
}


/* Stil pentru subtitlu */
.label-subtitle {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff; /* Alb */
}

/* Stil pentru câmpurile de text */
.text-field {
    -fx-font-size: 14px;
    -fx-border-color: #cccccc; /* Gri deschis */
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
}

/* Stil pentru butoane */
.button-signup {
    -fx-background-color: #32cd32; /* Verde */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}

.button-login {
    -fx-background-color: #b22222; /* Roșu */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}
